@switch (element.type) {
  @case ("text") {
    @if (isEditing) {
      <textarea
        pInputTextarea
        rows="5"
        class="edit-textarea"
        [ngModel]="element.text"
        (ngModelChange)="onTextElementChange($event)"
      ></textarea>
    } @else {
      <div class="intro-block">
        <p>{{ element.text }}</p>
      </div>
    }
  }
  @case ("badges") {
    @if (isEditing) {
      <div class="edit-list">
        @for (badge of element.items; track $index; let badgeIndex = $index) {
          @if (!isCardItemPendingDelete(badgeIndex)) {
            <div class="edit-item-row">
              <input
                pInputText
                class="edit-input"
                [ngModel]="badge"
                (ngModelChange)="onBadgeItemChange(badgeIndex, $event)"
              />
              <button
                pButton
                type="button"
                class="p-button-sm p-button-text p-button-danger item-delete-btn"
                icon="pi pi-trash"
                (click)="onDeleteItem({ itemIndex: badgeIndex })"
              ></button>
            </div>
          }
        }
        <button
          pButton
          type="button"
          class="p-button-sm p-button-outlined add-item-btn"
          icon="pi pi-plus"
          [label]="addLabel"
          [disabled]="isSaving"
          (click)="onAddItem()"
        ></button>
      </div>
    } @else {
      <div class="badge-row">
        @for (badge of element.items; track badge) {
          <span class="badge">{{ badge }}</span>
        }
      </div>
    }
  }
  @case ("icon-list") {
    @if (isEditing) {
      <div class="edit-list">
        @for (item of element.items; track $index; let itemIndex = $index) {
          @if (!isCardItemPendingDelete(itemIndex)) {
            <div class="edit-item-row">
              <input
                pInputText
                class="edit-input"
                [ngModel]="item"
                (ngModelChange)="onIconListItemChange(itemIndex, $event)"
              />
              <button
                pButton
                type="button"
                class="p-button-sm p-button-text p-button-danger item-delete-btn"
                icon="pi pi-trash"
                [disabled]="isSaving"
                (click)="onDeleteItem({ itemIndex })"
              ></button>
            </div>
          }
        }
        <button
          pButton
          type="button"
          class="p-button-sm p-button-outlined add-item-btn"
          icon="pi pi-plus"
          [label]="addLabel"
          [disabled]="isSaving"
          (click)="onAddItem()"
        ></button>
      </div>
    } @else {
      <ul class="detail-list">
        @for (item of element.items; track item) {
          <li>
            <i [class]="element.icon"></i>
            <span>{{ item }}</span>
          </li>
        }
      </ul>
    }
  }
  @case ("grid-tech") {
    @if (isEditing) {
      <div class="edit-tech-grid">
        @for (category of element.items; track category.label; let categoryIndex = $index) {
          @if (!isCardItemPendingDelete(categoryIndex, undefined, categoryIndex)) {
            <div class="edit-tech-row">
              <div class="edit-tech-main">
                <span class="stack-label">{{ category.label }}</span>
                <textarea
                  pInputTextarea
                  rows="2"
                  class="edit-textarea"
                  [ngModel]="getTechCategoryValueText(category.value)"
                  (ngModelChange)="onTechCategoryChange(categoryIndex, $event)"
                ></textarea>
              </div>
              <button
                pButton
                type="button"
                class="p-button-sm p-button-text p-button-danger item-delete-btn"
                icon="pi pi-trash"
                [disabled]="isSaving"
                (click)="onDeleteItem({ itemIndex: categoryIndex, categoryIndex })"
              ></button>
            </div>
          }
        }
        <button
          pButton
          type="button"
          class="p-button-sm p-button-outlined add-item-btn"
          icon="pi pi-plus"
          [label]="addLabel"
          [disabled]="isSaving"
          (click)="onAddItem()"
        ></button>
      </div>
    } @else {
      <div class="stack-grid" [class.grid-single]="element.gridLayout === 'single'">
        @for (category of element.items; track category.label) {
          <div class="stack-item">
            <span class="stack-label">{{ category.label }}</span>
            <div class="stack-tags">
              @for (tech of category.value; track tech) {
                <span class="tag" [class]="'tag-' + category.severity">{{ tech }}</span>
              }
            </div>
          </div>
        }
      </div>
    }
  }
  @case ("grid-education") {
    @if (isEditing) {
      <div class="edit-group-list">
        @for (group of element.groups; track group.name; let groupIndex = $index) {
          @for (item of group.items; track item.label; let itemIndex = $index) {
            @if (!isCardItemPendingDelete(itemIndex, groupIndex)) {
              <div class="edit-group-item">
                <div class="edit-group-main">
                  <p-select
                    [options]="iconOptions"
                    optionValue="icon"
                    [ngModel]="item.icon"
                    (ngModelChange)="onGroupItemIconChange(groupIndex, itemIndex, $event)"
                    class="icon-dropdown"
                    [showClear]="false"
                  >
                    <ng-template pTemplate="item" let-option>
                      <i [class]="option.icon" [title]="option.label"></i>
                    </ng-template>
                    <ng-template pTemplate="selectedItem" let-selectedOption>
                      <i
                        [class]="selectedOption?.icon ?? selectedOption"
                        [title]="getIconLabel(selectedOption?.icon ?? selectedOption)"
                      ></i>
                    </ng-template>
                  </p-select>
                  <input
                    pInputText
                    class="edit-input"
                    [ngModel]="item.value"
                    (ngModelChange)="onGroupItemChange(groupIndex, itemIndex, $event)"
                  />
                </div>
                <button
                  pButton
                  type="button"
                  class="p-button-sm p-button-text p-button-danger item-delete-btn"
                  icon="pi pi-trash"
                  [disabled]="isSaving"
                  (click)="onDeleteItem({ itemIndex, groupIndex })"
                ></button>
              </div>
            }
          }
        }
        <button
          pButton
          type="button"
          class="p-button-sm p-button-outlined add-item-btn"
          icon="pi pi-plus"
          [label]="addLabel"
          [disabled]="isSaving"
          (click)="onAddItem()"
        ></button>
      </div>
    } @else {
      <app-group-list [groups]="element.groups" [gridLayout]="element.gridLayout"></app-group-list>
    }
  }
  @case ("grid-groups") {
    @if (isEditing) {
      <div class="edit-group-list">
        @for (group of element.groups; track group.name; let groupIndex = $index) {
          @for (item of group.items; track item.label; let itemIndex = $index) {
            @if (!isCardItemPendingDelete(itemIndex, groupIndex)) {
              <div class="edit-group-item">
                <div class="edit-group-main">
                  <p-select
                    [options]="iconOptions"
                    optionValue="icon"
                    [ngModel]="item.icon"
                    (ngModelChange)="onGroupItemIconChange(groupIndex, itemIndex, $event)"
                    class="icon-dropdown"
                    [showClear]="false"
                  >
                    <ng-template pTemplate="item" let-option>
                      <i [class]="option.icon" [title]="option.label"></i>
                    </ng-template>
                    <ng-template pTemplate="selectedItem" let-selectedOption>
                      <i
                        [class]="selectedOption?.icon ?? selectedOption"
                        [title]="getIconLabel(selectedOption?.icon ?? selectedOption)"
                      ></i>
                    </ng-template>
                  </p-select>
                  <input
                    pInputText
                    class="edit-input"
                    [ngModel]="item.value"
                    (ngModelChange)="onGroupItemChange(groupIndex, itemIndex, $event)"
                  />
                </div>
                <button
                  pButton
                  type="button"
                  class="p-button-sm p-button-text p-button-danger item-delete-btn"
                  icon="pi pi-trash"
                  [disabled]="isSaving"
                  (click)="onDeleteItem({ itemIndex, groupIndex })"
                ></button>
              </div>
            }
          }
        }
        <button
          pButton
          type="button"
          class="p-button-sm p-button-outlined add-item-btn"
          icon="pi pi-plus"
          [label]="addLabel"
          [disabled]="isSaving"
          (click)="onAddItem()"
        ></button>
      </div>
    } @else {
      <app-group-list [groups]="element.groups" [gridLayout]="element.gridLayout"></app-group-list>
    }
  }
}
